.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height:10vh;
  background-color: black;
  box-shadow: 0 -10px 4px 0 rgba(16, 0, 0, 0.50);
  margin-top:auto;

  .medias{
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:1.5vw;
    img{
        width: 1.8vw;

      &:hover{
        filter: brightness(2);
        cursor: pointer;
      }
    }
  }

  .copyrights{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap:1vh;
    color: white;
    align-items: center;
    justify-content: center;

    h3{
      text-align: center;
      margin:0;
    }

    .paragraph{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p{
        margin:0;
      }
    }
  }

  .wildya-ip{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .container{
      display: flex;
      gap:0.5vw;
      background-color: #701E1E;
      border-radius: 16px;
      padding: 1vh;
      cursor:pointer;

      &:hover{
        filter:brightness(0.8);
      }
      img{
        width: 1.5vw;
      }
      h3{
        margin:0;
      }
    }
  }

  @media only screen and (max-width: 700px){
    .medias{
      img{
        width: 5vw;
      }
    }
    .copyrights{
      h3{
        font-size: 18px;
      }
      p{
        font-size: 12px;
      }
    }

    .wildya-ip{
      .container{
        h3{
          font-size: 18px;
        }
        img{
          width: 5vw;
        }
      }
    }
  }
}